*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: aqua;
    padding: 1em;
}

a{
    text-decoration: none;
    color: white;
}

header{
    background-color: rgb(48, 162, 109);
    text-align: center;
    padding: 2em;
}

header h1{
    font-size: 3em;
    margin-bottom: .6em;
    color: white;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
    margin-bottom: 20px;
    background-color: rgb(41, 141, 94);
}

nav a{
    padding: .6em;
    font-size: 1.6em;
    display: block;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

nav a:hover{
    background-color: white;
    color: rgb(48, 162, 109);
}

main{
    display: flex;
    flex-flow: row nowrap;
}

.main-section h2{
    margin-bottom: .5em;
}

.coluna1{
    width: 75%;
}

section{
    background-color: rgb(118, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
}

.coluna2{
    width: 25%;
    padding-left: 1em;
}

.img-section{
    width: 100%;
    height: 200px;
    background: #aaa;
    margin-bottom: .9em;
    padding: 1.4em;
}

.form-row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: .8em;
    justify-content: flex-end;
}

.form-row-label{
    width: 25%;
    display: flex;
    align-items: center;
}

.form-row-label label{
    font-size: 1.4em;
}

.form-row-input{
    width: 75%;
}

.form-row-input input{
    /* width: 100%; */
    font-size: 1.4em;
}

.form-row-input textarea{
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    font-size: 1.6em;
}

input[type='text'], input[type='email'], textarea{
    width: 100%;
    padding: .6em;
    border: 1px solid #333;
    border-radius: .4em;
}

.form-row button{
    padding: 1em;
    border-radius: 1em;
    font-size: 1.4em;
}

.form-row button:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

footer{
    background-color: #676767;
    text-align: center;
    font-size: 1.5em;
}

footer p{
    padding: 1em;
}